@import url(null.css);
/*null style connected*/
.wrapper {
  padding: 30px 0 0 0;
}
.page__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  padding: 5px 8px 0px 14px;
  width: auto;
  max-width: 584px;
}
.page__form {
  padding: 20px;
}
input[type='text'] {
  border: #202124;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 34px;
  font-size: 16px;
}
input[type='submit'] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  appearance: auto;
  cursor: pointer;
  user-select: none;
}
input[type='submit']:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
.btn-submit {
  display: flex;
  justify-content: center;
}
